@import "tailwindcss";
@import "https://fonts.googleapis.com/css2?family=Actor&family=Alan+Sans:wght@300..900&family=Bilbo+Swash+Caps&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap";

:root {
  --instrument-serif: "Instrument Serif", serif;
  --instrument-sans: "Instrument Sans", sans-serif;
  --actor: "Actor", sans-serif;
  --inknut-antiqua: "Inknut Antiqua", serif;
  --bilbo-swash-caps: "Bilbo Swash Caps", cursive;
  --alan-sans: "Alan Sans", sans-serif;

  --pink-light: #fbebeb;
  --pink-bright: #ffb4b4;
  --pink-dark: #b16d6d;
}
